header.header
  .js-header-min-height.header__logo-wrap
    a(href="/").header__logo
      img(src="images/logo-white.svg" alt="Mail Scope" width="168" height="38" data-theme="dark").header__logo-img
      img(src="images/logo-dark.svg" alt="Mail Scope" width="168" height="38" data-theme="white").header__logo-img
  nav(role="navigation").nav.header__nav
    ul.nav__list
      li.nav__item
        a(href="#").nav-link.nav-link--theme-gray.nav-link--is-active.nav__link
          span.nav-link__icon-wrap
            svg.icon.nav-link__icon
              use(xlink:href="#nav-link-1")
          span.nav-link__text
            span.nav-link__title Тест на спам
            sup +32
      li.nav__item
        a(href="#").nav-link.nav-link--theme-gray.nav__link
          span.nav-link__icon-wrap
            svg.icon.nav-link__icon
              use(xlink:href="#nav-link-2")
          span.nav-link__text
            span.nav-link__title Мейлист валидация
            sup +434
      li.nav__item
        a(href="#").nav-link.nav-link--theme-gray.nav__link
          span.nav-link__icon-wrap
            svg.icon.nav-link__icon
              use(xlink:href="#nav-link-3")
          span.nav-link__text
            span.nav-link__title Мониторинг адресов
            sup 12%
      li.nav__item
        a(href="#").nav-link.nav-link--theme-gray.nav__link
          span.nav-link__icon-wrap
            svg.icon.nav-link__icon
              use(xlink:href="#nav-link-4")
          span.nav-link__text
            span.nav-link__title Открытия
            sup +3K
      li.nav__item
        a(href="#").nav-link.nav-link--theme-gray.nav__link
          span.nav-link__icon-wrap
            svg.icon.nav-link__icon
              use(xlink:href="#nav-link-5")
          span.nav-link__text
            span.nav-link__title IP Keys
      li.nav__item
        a(href="#").nav-link.nav-link--theme-gray.nav__link
          span.nav-link__icon-wrap
            svg.icon.nav-link__icon
              use(xlink:href="#nav-link-6")
          span.nav-link__text
            span.nav-link__title Настройки
      li.nav__item
        a(href="#").nav-link.nav-link--theme-gray.nav__link
          span.nav-link__icon-wrap
            svg.icon.nav-link__icon
              use(xlink:href="#nav-link-7")
          span.nav-link__text
            span.nav-link__title Тарифы и бонусы
      li.nav__item
        a(href="#").nav-link.nav-link--theme-gray.nav__link
          span.nav-link__icon-wrap
            svg.icon.nav-link__icon
              use(xlink:href="#nav-link-8")
          span.nav-link__text
            span.nav-link__title Помощь