:root {
    --fs-default: 14px;
    --fs-1: 40px;
    --fs-2: 32px;
    --fs-3: 24px;
    --fs-4: 20px;
    --fs-5: 18px;
    --fs-6: 16px;

    --gap: 15px;
    --gap-: -15px;
    --gap-fluid: 60px;
    --gap-fluid-: -60px;
}